@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url(../../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.ttf) format('truetype');
}

.aboutourshop {
    margin-top: 126px;
    margin-bottom: 146px;

    box-sizing: border-box;
    flex-grow: 1;
    background-image: url("img/basketOurShop.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;

    &__heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: #7FAD39;
        margin-bottom: 77px;
        text-transform: capitalize;
    }

    &__content_left {
        &_headingtop {
            font-size: 52px;
            font-weight: 700;
            line-height: 63px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            text-transform: capitalize;
            width: 560px;
            margin-bottom: 60px;

        }

        &_downtext {
            font-size: 22px;
            font-weight: 265;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: #636363;
            text-transform: capitalize;
            width: 515px;
            margin-bottom: 60px;
        }
    }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
    .aboutourshop {
        margin-top: 53px;
        margin-bottom: 112px;

        background-position: 350px;
        background-size: 27%;

        &__heading {
            margin-bottom: 23px;
        }

        &__content_left {
            &_headingtop {
                font-size: 32px;
                line-height: 38.62px;
                width: 351px;
                margin-bottom: 23px;
            }

            &_downtext {
                font-size: 20px;
                font-weight: 265px;
                line-height: 23.6px;
                width: 375px;
                margin-bottom: 56px;
            }
        }
    }
}

@media screen and (max-width: 390px) {
    .aboutourshop {
        margin-top: 41px;
        margin-bottom: 108px;
        background-image: none;


        &__heading {
            margin-bottom: 33px;
            margin-left: 60px;
            font-size: 24px;
            line-height: 28.97px;

        }

        &__content_left {
            &_headingtop {
                font-size: 20px;
                line-height: 24.14px;
                width: 351px;
                margin-bottom: 33px;
            }

            &_downtext {
                font-size: 14px;
                font-weight: 265px;
                line-height: 16.52px;
                width: 357px;
                margin-bottom: 85px;
            }
        }
    }
}