.products-box {
  display: grid;
  gap: 20px;
  padding-bottom: 32px;

  &--tile {
    grid-template-columns: repeat(3, 1fr);

    & .product-card__content {
      grid-template-columns: 1fr;
    }
  }

  &--list {
    grid-template-columns: 1fr;

    & .product-card {
      padding: 0;
      background-color: #f5f6f5;
    }

    & .text-box-roduct-card {
      background-color: var(--transparent);
    }

    & .product-card-img {
      height: 50px;
    }

    & .product-card__content {
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }
  }
}