.products-box {
  display: grid;
  gap: 20px;
  padding-bottom: 32px;

  &--tile {
    grid-template-columns: repeat(3, 1fr);

    & .product-card__content {
      grid-template-columns: 1fr;
    }
  }

  &--list {
    grid-template-columns: 1fr;

    & .product-card {
      padding: 0;
      background-color: #f5f6f5;
    }

    & .text-box-roduct-card {
      background-color: var(--transparent);
    }

    & .product-card-img {
      height: 50px;
    }

    & .product-card__content {
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {

  .products-box {
    gap: 10px;

    &.products-box--tile {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 7px 0 7px;
    }
  }
}

@media (min-device-width: 320px) and (max-device-width: 568px) {

  .products-box {
    gap: 5px;

    &.products-box--tile {
      grid-template-columns: auto;
      justify-items: center;
      margin: 0 4px 0 4px;
    }
  }
}