@import './normalize.css';

:root {
  --white: #fff;
  --black: #000;
  --gray: #F5F5F5;
  --green: #7FAD39;
  --light-green: #90c53f;
  --black-bg: #191919;
}

.app {
  min-height: 100vh;
  display: grid;
  // gap: 64px;
}

.main {
  flex: 1 0 auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: calc(100% - 30px);
  max-width: 1142px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: calc(100% - 60px);
  }
}

a:active,
a:hover,
a {
  text-decoration: none;
}

.overlay {
  width: 110px;
  height: 110px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  &:hover::after {
    background: rgba(127, 173, 57, 0.66) url(../public/img/eye.png) no-repeat center;
    cursor: pointer;

  }
}