@media (max-width: 1500px) {

  .featuredProducts .bottom {
    max-width: 100vw;
    margin: 0 auto;
  }
}

@media (max-width: 957px) {

  .featuredProducts .product-card {
    margin: 0 auto;
  }
}

@media (max-width: 846px) {

  .featuredProducts .product-card-img {
    height: 121px
  }
}

@media (max-width: 569px) {

  .featuredProducts .slider {
    padding: 0 10px;
  }
}