.products {
  display: flex;

  .left {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 50px;

    .filterItem{
      margin-bottom: 30px;

      h2{
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem{
        margin-bottom: 10px;

        label{
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    flex: 3;

    .catImg{
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}

.btn-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 8px 16px;
  line-height: 100%;
  border: none;
  min-width: 120px;
  border: 1px solid var(--green);
  background-color: var(--transparent);
  color: var(--black);
  cursor: pointer;
}