.product-card {
  position: relative;
  background: var(--gray);
  border: none;
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: grid;
    gap: 32px;
    width: 100%;
  }

  .product-card-marker {
    position: absolute;
    top: 5px;
    right: 5px;
    &__top {
      padding-right: 7px;
    }
    &__sale {
      padding-right: 7px;
    }
  }
}

.product-card-img {
  // margin: 25px 15px 0 15px;
  // width: 240px;
  // height: 176px;
  width: auto;
  max-width: 100%;
  height: 150px;
  margin: 0 auto;
}

.text-box-roduct-card {
  width: 100%;
  display: grid;
  gap: 10px;
  background: #FFFFFF;
  // margin: 50px 20px 20px 20px;

  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

// .text-product-card {
//   padding-top: 10px;
// }

.link {
  color: var(--black);
  text-decoration: none;

  &:hover {
    color: var(--green);
  }
}
