.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    border: none;
    background-color: var(--green);
    color: var(--white);
    padding: 18px 20px;
    cursor: pointer;
    border: 1px solid #7FAD39;

    &:hover {
        background-color: #FFFFFF;
        color: #7FAD39;
        border: 1px solid #7FAD39;
    }
}