.switch-button {
    width:50px;
    height:50px;
}

 .catalog-container {
     margin: 52px;
 }

.catalog-heading {
    font-weight: 900;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    max-width: 1142px;
    margin: 0 auto;
}

.heading-line-img {
    display: block;
    margin: 0 auto;
    padding-top: 26px;
}

.catalog-filter-btn {
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    margin: 0 auto;
}

.checkbox-btn {
    display: inline-block;
    margin: 0 5px 0 0;
    user-select: none;
    position: relative;
}
.checkbox-btn input[type=checkbox] {
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.checkbox-btn span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: #999999;
    cursor: pointer;
}

//.checked{
//    color: #2A2A2A !important;
//    text-decoration: underline;
//}

/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
    color: #2A2A2A;
    text-decoration: underline;
}

/* Hover */
.checkbox-btn:hover {
    color: #2A2A2A;
    text-decoration: underline;
}

/* Active */
.checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
    color: #2A2A2A;
    text-decoration: underline;
}

/* Disabled */
.checkbox-btn input[type=checkbox]:disabled + span {
    background: #efefef;
    color: #666;
    cursor: default;
}
.checkbox-btn input[type=checkbox]:checked:disabled + span {
    background: #f7efdc;
}

.active {
    color: #2A2A2A;
    text-decoration: underline;
    cursor: pointer;
  }

.catalog-item-box {
    max-width: 1142px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    // display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.product-card {
    background: var(--gray);
    border: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.product-card-img {
    margin: 25px 15px 0 15px;
    width: 240px;
    height: 176px;
}

.text-box-roduct-card {
    width: 230px;
    height: 80px;
    background: #FFFFFF;
    margin: 50px 20px 20px 20px;

    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.text-product-card {
    padding-top: 10px;
}
