@use '../../mixins.scss';

@font-face {
    font-family: 'Celebri Sans Pro';
    src: url(../../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.woff2) format('woff2');
}

.bannermainpage {
    width: 100%;
    display: grid;
    gap: 20px;

    &__top {
        @include mixins.flex(center, center);
        gap: 20px;

        &_list {
            width: 232px;
            max-height: 441px;
            border: 1px solid #F5F5F5;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 20px;
            position: absolute;
            margin-right: 910px;
            z-index: 99999;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
            -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2) inset;

            &_a {
                text-decoration: none;
                @include mixins.font(16px, 500, 36px);
                font-family: Celebri Sans Pro;
                color: #999999;
                cursor: pointer;
            }

            &_a:hover {
                color: #7FAD39;
            }
        }

        &_poster {
            @include mixins.flex(space-between, center);
            width: 100%;
            height: 441px;
            margin-bottom: 20px;
            background-color: #F5F5F5;

            &_left {
                display: flex;
                margin-left: 16%;
                flex-direction: column;
                gap: 30px;
                position: absolute;

                &_p {
                    margin-left: 77px;

                    &_ff {
                        @include mixins.font(16px, 800, 20px);
                        font-family: Celebri Sans Pro;
                        color: #7FAD39;
                    }

                    &_free {
                        color: #999999;
                        @include mixins.font(16px, 500, 20px);
                        font-family: Celebri Sans Pro;
                    }
                }

                &_h1 {
                    @include mixins.font(40px, 900, 50px);
                    font-family: Celebri Sans Pro;
                    color: #2A2A2A;
                }
            }

            &_right {
                margin-left: 43%;

                &_img {
                    mix-blend-mode: darken;
                }
            }
        }
    }

    &__bottom {
        @include mixins.flex(space-between, center);
        gap: 20px;

        &_fruit {
            width: 270px;
            height: 270px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 19px;
            justify-content: center;
            background-color: #F5F5F5;

            &_img {
                mix-blend-mode: darken;
            }

            &_button {
                width: 230px;
                height: 43px;
                background-color: #FFFFFF;
                border: none;
                @include mixins.font(20px, 900, 50px);
                text-align: center;
                cursor: pointer;
                font-family: Celebri Sans Pro;
            }

            &_button:hover {
                background-color: #7FAD39;
            }
        }
    }
}
