* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

.head-basket-wrp {
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}

.head-basket-title {
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 50px;
    position: relative;
}

.head-basket-txt {
    border: 3px solid #7FAD39;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    width: 219px;
    position: absolute;
    top: 190px;
    right: 381px;

    &_2 {
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
}



.basket-products {
    display: flex;
    flex-direction: column;
}

.basket-items-wrp {
    display: flex;
    max-width: 310px;
}

.basket-item {
    padding: 25px;
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #2A2A2A;
    width: 150px;
}

.basket-btn-wrp {
    display: flex;
    justify-content: center;
    margin: 25px 0 25px 0;
}

.basket-btn {
    width: 141px;
    height: 50px;
    background: #7FAD39;
    border: rgba(127, 173, 57, 1);

    &-txt {
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
}

.basket-empty-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.basket-empty-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bskt-title {
    margin: 1px 0 8px 0;
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A2A2A;
}

.bskt-txt {
    margin: 0 0 16px 0;
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #757575;
}

.bskt-empty-btn {
    margin: 0 0 20px 0;
    width: 141px;
    height: 50px;
    background: #7FAD39;
    border: #7FAD39;
    color: white;
}

.bskt-empty-btn:hover {
    border: 2px solid red;
    cursor: pointer;
}

.basket-btn:hover {
    border: 2px solid red;
    cursor: pointer;
}

.head-basket-title::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    left: 25px;
    top: 60px;
    background: #7FAD39;
}


.basket-product-total {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    position: relative;

    &::before {
        position: absolute;
        width: 1050px;
        height: 1px;
        left: 40px;
        top: 120px;
        background: #7FAD39;
        content: "";
    }
}

.basket-total {
    display: flex;
    height: 110px;
    justify-content: space-evenly;
    align-items: center;

    &-info {
        display: flex;
        width: 284px;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        margin: 0 37px 0 0;
    }

    &-remove-btn {
        width: 106px;
        height: 50px;
        background: #AD4E39;
        color: white;
        border: #AD4E39;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    &-count-btn {
        width: 50px;
        height: 50px;
        background: #F5F5F5;
        border: #F5F5F5;
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #2A2A2A;
    }

    &-txt {
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #2A2A2A;
    }

    &-title {
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
        color: #2A2A2A;
    }
}