@use '../../mixins.scss';

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/Inter-Black.woff2) format('woff2');
    font-style: normal;
    font-weight: 900;
}

body {
    font-family: 'Cerebri Sans Pro';
    font-weight: 300;
}

.footer {
    background-color: black;
    margin: 137px 0 0 0;

    &__logo {
        font-family: Inter, sans-serif;
        @include mixins.font(31px, 900, 100%);
        color: #FFF;
    }
    &_top{
        margin-top: 60px;
        margin-bottom: 30px;
    }

    &__link {
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
            color:#7FAD39;
        }
    }

    &__address{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #FFFFFF;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &_subscribe{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }

}
.footer__top__right__form {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 28px;
}
.footer__top__right__form:hover .footer__top__right__btn {
    background-color: #57801a;
}
.footer__top__right__btn {
    border: none;
    background-color: #7FAD39;
    padding: 18px 17px 18px 17px;
    margin-left: -5px;
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__top__right__input {
    border: none;
    background-color: #FFFFFF;
    padding: 19px 118px 18px 30px;
    font-size: 14px;
    font-weight: 400;
}
.footer__top__right__heading {
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.footer__top__right__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.footer_bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 43px;
    padding-bottom: 20px;
    gap: 40px;
    align-items: center;

    .copyright{
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
        font-style: normal;
        font-weight: normal;

    }

}
.social_buttons_box{
    display: flex;
    justify-content: center;
    gap: 20px;

    .social_link{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social_link:hover{
        color: #7FAD39;
    }

}

