.footer {
    background-color: black;
}

body {
    font-family: 'Cerebri Sans Pro';
    font-weight: 300;
}

.desc {
    font-family: 'Cerebri Sans Pro';
    font-weight: 900;
    font-size: 34px;
    color: #2A2A2A;
    text-align: center;
    margin-top: 100px;
}

.line {
    width: 80px;
    height: 4px;
}

.green-line {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 40px;
}

.item {
    flex-wrap: wrap;
    position: relative;
}

.item-prod {
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
}

.item-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-link {
    display: block;
    text-decoration: none;
    width: 367px;
    height: 630px;
    border: 1px solid #f3f3f3;
    
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
        transform: translateY(-5px);
    }
    
   
}
.item-link-readmore{
    &:hover .blog__readmore{
        color: #7FAD39;
        text-decoration-line: underline;
    }
}

.chat {
    margin-left: 26px;
}

.item-heading-box {
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2A2A2A;
    margin-top: 24px;
    margin-bottom: 18px;
    // text-align: justify;
}

.item-desc {
    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #757575;
    text-align: justify;
}

.wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.blog{
    &__item-pic{
        margin-bottom: 15px;
    }
    &__readmore{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        text-decoration-line: underline;
        color: #2A2A2A;
        margin-top: 10px;
        cursor: pointer;
        &:hover{
            color: #7FAD39;
            text-decoration-line: underline;
        }
    }
    &__txt-top{
        display: flex;
        justify-content: flex-end;
        gap: 24px
    }
    &__txt-boxer{
        display: flex;
        align-items: baseline;
        gap: 5px;
    }
    &__txt-box{
        padding: 15px;
    }
    &__topimg{
        height: 16px;
        width: 16px;
    }
    &__toptext{
        
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        
        color: #757575;
    }
    
}
