.product {
    margin-top: 25px;

    &__content__link {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        font-family: 'Cerebri Sans Pro';
        text-align: center;
        text-decoration-line: underline;
        color: #2A2A2A;

        &:hover {
            color: var(--green);
        }
    }

    &__content__img {
        margin-bottom: 39px;
        width: 364px;
        height: 307px;
        transition: transform .3s;
        cursor: pointer;
        object-fit: contain;

        &:hover {
            transform: scale(1.03)
        }

    }

    &__content__heading {
        font-size: 34px;
        font-weight: 900;
        line-height: 50px;
        font-family: 'Cerebri Sans Pro';
        font-style: normal;
        color: #2A2A2A;

    }

    &__content__shortLine {
        width: 80%;
        height: 5px;
        background: var(--green);
        margin-bottom: 44px;
    }

    &__content__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        font-family: Cerebri Sans Pro;
        letter-spacing: 0em;
        text-align: center;
        color: #2A2A2A;
        padding: 22px;
    }

    &__content__box {
        display: flex;
        gap: 152px;
    }

    &__content__boxleft {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;

        flex-direction: column;
        width: 364px;
        position: relative;
    }

    &__content__boxright {
        display: flex;
        align-items: center;
        background: #F5F5F5;
        width: 70%;

    }

    &__content__title {
        display: flex;
        justify-content: space-between;
        position: re;
    }

    &__content__boxfavorite {
        cursor: pointer;
    }
}

.alignCenter {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
}

.alignLeft {
    display: flex;
}

.price_text,
.price_total {
    line-height: 56px;
    margin-left: 83px;
    left: 240px;
    top: -20px;
    font-size: 36px;
    font-weight: 900;

    font-family: 'Cerebri Sans Pro';
    font-style: normal;
    color: #2A2A2A;
}

.count_block {
    display: flex;
    justify-content: space-between;
}

.count_up,
.count_down {
    margin-left: 15px;
    border: none;
    cursor: pointer;
}

.count_up_img,
.count_down_img {
    width: 30px;
    height: 30px;
}

.count__box {
    font-size: 23px;
    font-weight: 600;
    margin-left: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
}