@font-face {
  font-family: 'Celebri Sans Pro';
  src: url(../../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.woff2) format('woff2');
}

.containerPartWithBannersAndFilters {
  max-width: 1140px;
  margin: 0 auto;
}

.bannerBlock {
  font-family: 'Cerebri Sans', sans-serif;
}

.bannerBlock {
  margin-top: 108px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.bannerBlock__item {
  position: relative;
  width: 100%;
  height: 263px;

  &:nth-child(1) {
    margin-right: 10px;
  }

  &:nth-child(2) {
    margin-left: 10px;
  }
}

.bannerBlock__item_img {
  width: inherit;
}

.bannerBlock__item_titleLeft {
  position: absolute;
  top: 42px;
  left: 290px;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.bannerBlock__item_textLeft {
  position: absolute;
  top: 80px;
  left: 290px;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}

.bannerBlock__item_btnLeft {
  cursor: pointer;
  position: absolute;
  top: 147px;
  left: 290px;
  width: 141px;
  height: 50px;
  border: none;
  background: #7FAD39;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.bannerBlock__item_btnLeft:hover {
  background: #FFFFFF;
  color: #7FAD39;
  border: 1px solid #7FAD39;
}

.bannerBlock__item_titleRight {
  position: absolute;
  top: 23px;
  left: 290px;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.bannerBlock__item_btnRight:hover {
  background: #FFFFFF;
  color: #7FAD39;
  border: 1px solid #7FAD39;
}

.bannerBlock__item_textRight {
  position: absolute;
  top: 94px;
  left: 290px;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
}

.bannerBlock__item_btnRight {
  cursor: pointer;
  position: absolute;
  top: 155px;
  left: 290px;
  width: 141px;
  height: 50px;
  border: none;
  background: #7FAD39;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}