.header {
    padding: 24px 0;
    background-color: black;

    &__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;gap: 16px;
    }

    &__link {
        color: white;
    }
}