@use '../../mixins.scss';

@font-face {
    font-family: 'Celebri Sans Pro';
    src: url(../../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Inter';
    src: url(../../fonts/Inter/Inter-Black.woff2) format('woff2');
    font-style: normal;
    font-weight: 900;
}

.header {
    &__box {
        padding: 20px 0;

        &--black {
            background-color: var(--black);
        }

        &--white {
            background-color: var(--white);
            margin-top: 10px;
        }
    }

    &__ccontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__fx {
        display: flex;
        gap: 20px;
    }

    &__fix {
        display: flex;
        gap: 20px;
    }

    &__socnet {
        display: flex;
        gap: 20px;
    }

    &__login {
        display: flex;
        gap: 20px;
        //min-width: 150px;
        //justify-content: space-around;

        &-text {
            color: #fff;
            // font-weight: 500;
            font-family: Celebri Sans Pro, sans-serif;

            &:hover {
                color: var(--green);
            }
        }

        &-icon {
            width: 16px;
            height: 16px;
        }

        &-icon:hover {
            color: #7FAD39;
        }
    }

    &__logo {
        font-family: Inter, sans-serif;
        @include mixins.font(31px, 900, 100%);
        color: #2A2A2A !important;
    }

    &__email {
        display: flex;
        align-items: center;
        gap: 8px;

        &-icon {
            width: 24px;
            height: auto;
        }

        &-text {
            color: #fff;
            font-weight: 600;
            font-family: Celebri Sans Pro;
        }
    }

    &__delivery {
        color: #fff;
        font-weight: 600;
        font-family: Celebri Sans Pro;
    }

    &__line {
        width: 1px;
        background-color: #999;
    }

    &__nav {
        display: flex;

        &-item:first-child {
            margin-bottom: 0px;
        }

        &-list {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &-link {
            @include mixins.font(16px, 500, 100%);
            color: var(--black);
            font-family: Celebri Sans Pro;

            &:hover {
                color: var(--green);
            }


        }
    }

    &__info {
        display: flex;
        gap: 20px;

        &-likes {
            position: relative;
        }

        &-cart {
            position: relative;
        }

        &-price {
            display: flex;
            align-items: center;
            gap: 5px;

            &-text {
                color: #999;
                font-family: Celebri Sans Pro;
            }

            &-value {
                color: #000;
                font-family: Celebri Sans Pro;
            }
        }

        &-icon {
            width: 24px;
            height: 24px;
        }

        &-count {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -5px;
            top: -5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #7FAD39;
            ;
            padding: 3px;
            font-size: 10px;
            color: white;
            font-family: Celebri Sans Pro;
        }
    }

    &__social_buttons_box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .social_link {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social_link:hover {
            color: #7FAD39;
        }

    }
}

.header__nav-list {
    gap: 40px;
}

@media (min-width:769px) and (max-width:1010px) {

    .header__nav-list {
        gap: 32px;
    }

    .header__nav-item {
        font-size: 14px;
    }
}

@media screen and (max-width:768px) {

    .header__box {
        padding: 10px 0;

        &--white {
            margin-top: 15px;
        }
    }

    .header__content {
        height: 52px;
    }

    .header__nav-list {
        gap: 12px;
    }

    .header__nav-item {
        font-size: 13px;
    }

    .header__info-price-value {
        font-size: 13px;
    }

    .header__info {
        gap: 15px;
    }
}

@media (min-device-width: 320px) and (max-device-width: 568px) {

    .header__fx {
        flex-direction: column;
        gap: 5px;
    }

    .header__ccontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header__nav {
        margin: 15px 0;
        width: 100%;
        justify-content: space-around;

        &-list {
            gap: 30px;
            justify-content: space-evenly;
        }
    }

    .upmainpage__right_info_number {
        flex-direction: column;
    }

    .upmainpage__right_info_img {
        height: 25px;
        width: 25px;
    }
}