@media (max-width: 1204px) {
  .catalog-container {
    max-width: 100vw;
  }
}

@media (max-width: 627px) {
  .catalogList-wrap {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 435px) {
  .Carousel__RailWrapper-sc-hyhecw-1 {
    width: 281px;
  }
}