* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

.head-cart-wrp {
    margin: 50px 0 50px 0;
}

.head-cart-title {
    font-family: 'Cerebri Sans Pro', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 50px;
    position: relative;
}

.head-cart-txt {
    border: 3px solid #7FAD39;
    box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
    width: 219px;
    position: absolute;
    top: 190px;
    right: 381px;

    &_2 {
        font-family: 'Cerebri Sans Pro', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
}


.cart-products {
    display: flex;
    flex-direction: column;
}

.cart-items-wrp {
    display: flex;
    max-width: 310px;
}



.cart-item-img {
    height: 110px;
    width: 110px;
    object-fit: contain;
    cursor: pointer;
    display: inline-block;
}

.cart-item-title,
.cart-item-txt {
    margin: 0 0 0 20px;
}

.cart-item-img:hover .overlay {
    position: absolute;
    width: 110px;
    height: 110px;
    background: #2a2a2a;
}

.cart-item {
    padding: 25px 0 15px 0;
    font-family: 'Cerebri Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #2A2A2A;
    width: 150px;
}

.cart-btn-wrp {
    display: flex;
    justify-content: center;
    margin: 25px 0 25px 0;
}

.cart-btn {
    width: 141px;
    height: 50px;
    background: #7FAD39;
    border: #7FAD39;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px;
}

.cart-btn:hover {
    background-color: #57801a;
}

.cart-empty-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.cart-empty-wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-title {
    margin: 34px 0 8px 0;
    font-family: 'Cerebri Sans Pro', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A2A2A;
}

.cart-txt {
    margin: 0 0 46px 0;
    font-family: 'Cerebri Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #757575;
}

.head-cart-title::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    left: 25px;
    top: 60px;
    background: #7FAD39;
}


.cart-product-total {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    position: relative;

    &::before {
        position: absolute;
        width: 1050px;
        height: 1px;
        left: 40px;
        top: 120px;
        background: #7FAD39;
        content: "";
    }
}

.cart-total {
    display: flex;
    height: 110px;
    justify-content: space-evenly;
    align-items: center;

    &-info {
        display: flex;
        width: 284px;
        justify-content: space-evenly;
        align-items: center;
        height: 50px;
        margin: 0 37px 0 0;
    }

    &-remove-btn {
        width: 106px;
        height: 50px;
        background: #AD4E39;
        color: white;
        border: #AD4E39;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: #86382a;
        }
    }

    &-count-btn {
        width: 50px;
        height: 50px;
        background: #F5F5F5;
        border: #F5F5F5;
        font-family: 'Cerebri Sans Pro', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #2A2A2A;
        cursor: pointer;

        &:hover {
            background: #d5d5d5;
        }
    }

    &-txt {
        font-family: 'Cerebri Sans Pro', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #2A2A2A;
    }

    &-title {
        font-family: 'Cerebri Sans Pro', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 30px;
        color: #2A2A2A;
    }
}
