@font-face {
    font-family: 'Cerebri Sans Pro';
    src: url(../../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.ttf) format('truetype');
}
.contacts__content{
    &_textheader{
        background-image: url("img/Rectangle.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        text-align: center;
        margin-top: 24px;
    }
    &_headingh{
        font-weight: 500;
        font-size: 58px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #7FAD39;
    }
}
.text{
      
    color: #7FAD39;
    letter-spacing: 0.05em;
    text-align: left;
    font-family: 'Inter';
    font-size: 16px;
    line-height: 30px;
}

.containermap{
    max-width: 1140px;
    margin: 0 auto;
}

.container_contactus{
    
    padding-bottom: 80px;
    padding-top: 80px;
}

.heading-mini{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 30px;
    font-size: 20px;
    color: #2A2A2A;
    // 
    &_contactus{
        
        margin-bottom: 24px;
        margin-top: 24px;
    
    }
}

.infocontactspage{
    max-width: 466px;
}

.pic{
    height: 248px;
  
}

.listcontacts{
    display: flex;
    list-style-type: none;
}
.listcontacts_first{
    margin-bottom: 12px;
}
.listcontacts:first-child::before{
content: url("img/phone.svg");
    
    display: block;
    margin-right: 19px;
}
 .listcontacts:nth-child(2)::before {
    content: url("img/phone.svg");
   
    display: block;
    margin-right: 19px;
}
.contactslink{
    color: #7FAD39;
}
.listcontactsweb{
    display: flex;
    list-style-type: none;
    
}
.listcontactsweb_first{
    margin-bottom: 16px;
    
}
.listcontactsweb:first-child::before{
    content: url("img/web.svg");
    
    display: block;
    margin-right: 19px;
    

}
.listcontactsweb:nth-child(2)::before {
    content: url("img/mail.svg");
    
    display: block;
    margin-right: 19px;
    
}
.contactsmain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
    max-width: 1024px;
    margin-top: 68px;
}
.contacts_button{
    display: grid;
}