@mixin flex ($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@mixin font ($s, $w, $h) {
    font-size: $s;
    font-weight: $w;
    line-height: $h;
}

.buytogether {
    margin-top: 111px;

    &__content__heading {
        @include font(24px, 700, 35px);
        font-style: normal;

        color: #2A2A2A;

    }

    &__content__shortLine {
        width: 252px;
        height: 1px;
        background: var(--green);
        margin-bottom: 55px;
    }

    &__content__text {
        @include font(20px, 400, 30px);
        text-align: left;
        color: #2A2A2A;
        text-transform: capitalize;

    }

    &__content__boxProds {
        @include flex(space-between, _);
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__content__item {
        display: flex;
        margin: 0 0 25px 0;
    }

    &__content__link {}

    &__content__img {
        width: 110px;
        height: 110px;
        object-fit: contain;
    }

    &__content__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include font(20px, 400, 30px);
        margin: 0 0 0 20px;
    }

    &__content__name {}

    &__content__price {
        @include font(20px, 900, 30px);
    }
}

.bold {
    font-weight: 900;
}

@media screen and (max-width: 1024px) {
    .buytogether {
        margin-top: 104px;
    
        &__content__heading {
            @include font(20px, 700, 35px);
            font-style: bold;
        }
    
        &__content__shortLine {
            width: 207px;
            margin-bottom: 47px;
        }

        &__content__boxProds {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        &__content__img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    
        &__content__text {
            @include font(20px, 400, 30px);
            text-align: left;
            color: #2A2A2A;
            text-transform: capitalize;
    
        }
    
        &__content__item {
            margin: 0 0 16px 0;
        }
    
        &__content__title {
            @include font(20px, 400, 30px);
            margin: 0 0 0 27px;
        }

        &__content__name {
            @include font(17px, 400, 20px);
        }

        &__content__price {
            @include font(20px, 900, 30px);
        }
    }
}

@media (min-width: 390px)and (max-width: 667px) {
    .buytogether {
        margin-top: 39px;

        &__content__heading {
            @include font(20px, 700, 35px);
            text-align: center;
        }
    
        &__content__shortLine {
            width: 207px;
            margin-bottom: 47px;
        }

        &__content__boxProds {
            display: grid;
            grid-template-columns: 1fr;
        }
    
        &__content__text {
            @include font(20px, 400, 30px);
            text-align: left;
            color: #2A2A2A;
            text-transform: capitalize;
    
        }
    
        &__content__item {
            margin: 0 0 16px 0;
        }
    
        &__content__title {
            @include font(20px, 400, 30px);
            margin: 0 0 0 27px;
        }

        &__content__name {
            @include font(17px, 400, 20px);
        }

        &__content__price {
            @include font(20px, 900, 30px);
        }
    }

    .alignCenter {
        align-items: center;
    }
}