// 1140 960 720 540

@media (max-width: 1145px) {
  .bannerBlock {
    flex-wrap: wrap;
  }

  .bannerBlock__item {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px;
  }

  .filterBlock {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}


