// 1140 960 720 540

@media (max-width: 1145px) {
  .bannerBlock {
    flex-wrap: wrap;
  }

  .bannerBlock__item {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px;
  }

  .filterBlock {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 560px) {
  .bannerBlock {
    margin-top: 50px;
  }

  .bannerBlock__item {
    width: 453px;
    height: inherit;
  }

  .bannerBlock__item_titleLeft {
    font-size: 20px;
  }

  .bannerBlock__item_textLeft {
    font-size: 16px;
    line-height: 19px;
  }

  .bannerBlock__item_titleRight {
    font-size: 20px;
    line-height: 27px;
  }

  .bannerBlock__item_textRight {
    font-size: 15px;
    line-height: 20px;
    top: 82px;
  }

  .bannerBlock__item_btnRight {
    top: 147px;
  }
}

@media (max-width: 453px) {
  .bannerBlock__item {
    width: 410px;
  }

  .bannerBlock__item_titleLeft {
    left: 234px;
    top: 29px;
  }

  .bannerBlock__item_textLeft {
    left: 234px;
    top: 67px;
  }

  .bannerBlock__item_btnLeft {
    left: 234px;
    top: 133px;
  }

  .bannerBlock__item_titleRight {
    left: 234px;
    top: 5px;
  }

  .bannerBlock__item_textRight {
    left: 234px;
    top: 67px;
  }

  .bannerBlock__item_btnRight {
    left: 234px;
    top: 133px;
  }
}

@media (max-width: 410px) {
  .bannerBlock__item {
    width: 370px;
  }

  .bannerBlock__item_titleLeft {
    left: 218px;
    font-size: 15px;
    top: 23px;
  }

  .bannerBlock__item_textLeft {
    left: 218px;
    font-size: 14px;
    top: 57px;
  }

  .bannerBlock__item_btnLeft {
    left: 218px;
    top: 116px;
  }

  .bannerBlock__item_titleRight {
    left: 218px;
    font-size: 15px;
    line-height: 21px;
    top: 7px;
  }

  .bannerBlock__item_textRight {
    left: 218px;
    font-size: 14px;
    line-height: 18px;
    top: 57px;
  }

  .bannerBlock__item_btnRight {
    left: 218px;
    top: 116px;
  }

  .filterBlock__latestProduct_titleBlock_title {
    font-size: 18px;
  }

  .filterBlock__topRatedProducts_titleBlock_title {
    font-size: 18px;
  }

  .filterBlock__reviewProducts_titleBlock_title {
    font-size: 18px;
  }

  .filterBlock {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 370px) {
  .bannerBlock__item {
    width: 340px;
  }

  .bannerBlock__item_titleLeft {
    left: 189px;
    top: 6px;
  }

  .bannerBlock__item_textLeft {
    left: 189px;
    top: 40px;
  }

  .bannerBlock__item_btnLeft {
    top: 99px;
    left: 189px;
  }

  .bannerBlock__item_titleRight {
    left: 189px;
    top: -3px;
  }

  .bannerBlock__item_textRight {
    left: 189px;
    top: 40px;
  }

  .bannerBlock__item_btnRight {
    top: 99px;
    left: 189px;
  }
}

@media (max-width: 340px) {
  .bannerBlock__item {
    width: 320px;
  }

  .bannerBlock__item_titleLeft {
    left: 177px;
  }

  .bannerBlock__item_textLeft {
    left: 177px;
  }

  .bannerBlock__item_btnLeft {
    left: 177px;
    width: 129px;
    height: 44px;
  }

  .bannerBlock__item_titleRight {
    left: 177px;
  }

  .bannerBlock__item_textRight {
    left: 177px;
  }

  .bannerBlock__item_btnRight {
    left: 177px;
    width: 129px;
    height: 44px;
  }
}