@font-face {
  font-family: 'Celebri Sans Pro';
  src: url(../../fonts/Cerebri.Sans.Pro/CerebriSansPro-Medium.woff2) format('woff2');
}

.containerPartWithBannersAndFilters {
  max-width: 1140px;
  margin: 0 auto;
}


.filterBlock {
  font-family: 'Cerebri Sans', sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}



